<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="es.hol.xaverius2017.personal"
      android:versionCode="1"
      android:versionName="1.0">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <supports-screens android:resizeable="true"
                      android:xlargeScreens="true"/>

    <application android:icon="@drawable/ic_launcher"
		 android:label="Personal Site">
        <activity android:name="es.hol.xaverius2017.personal.MainActivity"
                  android:label="Personal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
