<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.testing.iotest"
      android:versionCode="1"
      android:versionName="1.0">
    
    <supports-screens android:resizeable="true"
	              android:xlargeScreens="true"/>

	      <application android:icon="@drawable/ic_launcher"
		           android:label="IOTest" >
        <activity android:name="com.example.testing.iotest.IOTest"
                  android:label="IOTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
